BODY
{
	background: url(../Images/Bg.jpg);
	font: 12px Arial, Tahoma, Helvetica, sans-serif;
	line-height: 21px;
	color: #131b21;
	margin: 0;
	padding: 0;
}
IMG
{
	border: none;
}
IMG.Thumbnail	
{
	width: 156px;
	height: 88px;
	border: solid 2px #b9d0c1;
}
IMG.TestimonialThumbnail
{
	width: 156px;
	border: solid 2px #b9d0c1;
	margin: 5px 0 0 10px;
	float: right;
}
IMG.ThumbnailLeft
{
	border: solid 2px #b9d0c1;
	margin: 5px 10px 0 0;
	float: left;
}
IMG.ThumbnailRight
{
	border: solid 2px #b9d0c1;
	margin: 5px 0 0 10px;
	float: right;
}
IMG.Content
{
	width: 250px;
	height: 141px;
	border: solid 2px #b9d0c1;
}
A
{
	text-decoration: none;
	color: #e67232;
}
A:hover
{
	text-decoration: underline;
}
H1
{
		font-size: 18px;
		font-weight: normal;
		color: #2e4352;
		margin: 0;
		padding-bottom: 14px;
}
H2
{
		font-size: 16px;
		font-weight: normal;
		color: #2e4352;
		margin: 0;
		padding: 0;
}
P
{
	line-height: 21px;
	padding: 0 0 8px 0;
	margin: 0;
}
P.NoPadding
{
	padding: 0;
}
P.Color2
{
	color: #2c8ed6;
}
P.Color3
{
	color: #ee0000;
}
P.Big
{
	font-size: 18px;
	line-height: 35px;
}
P.Small
{
	font-size: 11px;
}
INPUT.Text, TEXTAREA
{
	background: #ffffff;
	border: solid 1px #94a89b;
	font: 11px Tahoma, Arial, Helvetica, sans-serif;
	padding: 2px;
	margin: 0;
	line-height: 15px;
}
UL
{
	margin: 0;
	padding-left: inherit;
}
LI
{
	margin: 0;
	padding: 0;
}

/* Layout ***************************************************************************/


#main
{
	width: 890px;
	margin: 0 auto;
}

#header
{
	width: 860px;
	padding: 10px 15px;
}
#logo
{
	width: 372px;
	height: 96px;
}
#address
{
	float: right;
	padding-top: 20px;
	text-align: right;
	font-weight: bold;
	font-size: 13px;
	width: 200px;
}
#container
{
	width: 886px;
	border-left: solid 4px #ffffff;
	background: #bccbd6;
	overflow: auto;
}
#leftcolumn
{
	float: left;
	width: 304px;
}
#menu
{
	float: left;
	width: 264px;
	height: 278px;
	padding: 25px 20px;
	background: url(../Images/MenuBg.jpg);
	text-align: right;
}
#menu ul
{
	margin: 0;
	padding: 0;
}
#menu li
{
	padding-bottom: 14px;
	list-style-type: none;
}
#menu a
{
	font: 18px Tahoma, Arial, Helvetica, sans-serif;
	color: #ffffff;
}
#menu a:hover
{
	font: 18px Tahoma, Arial, Helvetica, sans-serif;
	color: #e67232;
	text-decoration: none;
}
#menu #submenu
{
	padding-top: 5px;
	display: none;
}
#menu #submenu a
{
	font-size: 12px;
	line-height: 20px;
	font-weight: bold;
}
#leftcontent
{
	float: left;
	width: 270px;
	padding: 20px 17px;
}
#rightcolumn
{
	float: left;
	width: 582px;
	background: #ffffff;
	min-height: 870px;
}
#mainimage
{
	width: 582px;
	height: 150px;
}
#rightcontent
{
	width: 542px;
	padding: 20px;
	background: #ffffff url(../Images/ContentBg.jpg) no-repeat;
	min-height: 588px;
}
#footer
{
	float: left;
	width: 886px;
	background: url(../Images/MenuBg.jpg);
	overflow: auto;
}
#footerleft
{
	float: left;
	padding: 35px 17px;
	color: #ffffff;
}
#footerright
{
	float: right;
	padding: 13px 20px;
}
#logofooter
{
	width: 264px;
	height: 68px;
}


/* Elements ***************************************************************************/

.Box2
{
	background: #ffffff;
	border: solid 1px #314350;
	padding: 10px;
	border-radius: 7px;
	box-shadow: 0 0 6px 0px #aaaaaa;
}

.Box
{
	float: left;
	width: 542px;
}
.Box .top
{
	float: left;
	width: 516px;
	background: url(../Images/BoxTop.png) no-repeat;
	height: 27px;
	padding: 13px 13px 0 13px;
}
.Box .top2
{
	float: left;
	width: 542px;
	background: url(../Images/BoxTop.png) no-repeat;
	height: 7px;
	padding-top: 3px;
}
.Box .middle
{
	float: left;
	width: 514px;
	border-left: solid 1px #314350;
	border-right: solid 1px #314350;
	background: #ffffff;
	padding: 10px 13px;
	overflow: auto;
}
.Box .bottom
{
	float: left;
	width: 542px;
	background: url(../Images/BoxBottom.png) no-repeat;
	height: 7px;
}
.Box .title
{
	float: left;
}
.Box .date
{
	float: right;
	background: url(../Images/CalendarIcon.png) no-repeat;
	padding: 5px 0 0 24px;
	height: 21px;
	font: 11px Verdana, Arial, Tahoma, Helvetica, sans-serif;
}
.Box .middle div
{
	float: left;
	width: 160px;
	line-height: 16px;
	text-align: center;
	font-size: 11px;
	margin-right: 16px;
}
.Box .middle div.last
{
	margin-right: 0;
}
.Box .middle div a
{
	display: block;
	margin-bottom: 5px;
}

.BoxS
{
	float: left;
	width: 268px;
}
.BoxS .top
{
	float: left;
	width: 242px;
	background: url(../Images/BoxSTop.png) no-repeat;
	height: 27px;
	padding: 13px 13px 0 13px;
}
.BoxS .middle
{
	float: left;
	width: 240px;
	border-left: solid 1px #314350;
	border-right: solid 1px #314350;
	background: #ffffff;
	padding: 10px 13px;
	overflow: auto;
}
.BoxS .bottom
{
	float: left;
	width: 268px;
	background: url(../Images/BoxSBottom.png) no-repeat;
	height: 7px;
}
.BoxS .title
{
	float: left;
}

.ContentHead
{
	overflow: auto;
	padding-bottom: 20px;
	border-bottom: solid 2px #b9d0c1;
	margin-bottom: 25px;
}

A.Button
{
	display: block;
	float: left;
	color: #ffffff;
}
A.Button .left
{
	display: block;
	float: left;
	background: url(../Images/ButtonLeft.png) no-repeat;
	width: 10px;
	height: 18px;
}
A.Button .center
{
	display: block;
	float: left;
	background: url(../Images/ButtonCenter.png) repeat-x;
	height: 18px;
	padding-top: 1px;
	font: 11px Tahoma, Arial, Helvetica, sans-serif;
	line-height: 15px;

}
A.Button .right
{
	display: block;
	float: left;
	background: url(../Images/ButtonRight.png) no-repeat;
	width: 10px;
	height: 18px;
}
A.Button:hover
{
	text-decoration: none;
	color: #f89621;
}
.FLeft
{
	float: left;
}
.PadT10
{
	padding-top: 10px;
}
.PadB10
{
	padding-bottom: 10px;
}
.PadB20
{
	padding-bottom: 20px;
}


/* Left Column ***************************************************************************/


#leftcolumn
{
	font: 11px Tahoma, Arial, Helvetica, sans-serif;
	color: #1f2e38;
	line-height: 16px;
}
#leftcolumn H2
{
	font: 16px Tahoma, Arial, Helvetica, sans-serif;
	color: #253642;
	padding: 25px 0 18px 0;
}
#leftcolumn H2.First
{
	font: 16px Tahoma, Arial, Helvetica, sans-serif;
	color: #253642;
	padding-top: 0;
}
#leftcolumn .BlogItemHolder
{
	overflow: auto;
	padding-bottom: 5px;
}
#leftcolumn H3
{
	font: bold 11px Tahoma, Arial, Helvetica, sans-serif;
	color: #1f2e38;
	padding-bottom: 5px;
	margin: 0;
}
#leftcolumn P
{
	padding: 0 0 6px 0;
	margin: 0;
	line-height: 16px;
}
#leftcolumn P.Bigger
{
	font-size: 12px;
}
#leftcolumn .Date
{
	float: right;
	font: 10px Verdana, Arial, Tahoma, Helvetica, sans-serif;
}
#leftcolumn .Video
{
	clear: both;
	line-height: 0;
	padding-bottom: 25px;
}
#leftcolumn .Field
{
	overflow: auto;
	padding-bottom: 4px;
}
#leftcolumn .FieldLabel
{
	float: left;
	width: 65px;
	padding-top: 2px;
}
#leftcolumn INPUT.Text
{
	width: 195px;	
}
#leftcolumn TEXTAREA
{
	width: 260px;	
	height: 100px;
}
#leftcolumn .ContactMessage
{
	font-weight: bold;
	float: left;
	clear: left;
	padding-top: 5px;
}
#leftcolumn .FacebookHolder
{
	overflow: auto;
	clear: both;
	padding-top: 25px;
}
#leftcolumn .FacebookHolder H2
{
	padding: 2px 0 18px 0;
	float: left;
}
#leftcolumn .FacebookHolder A
{
	float: left;
	display: block;
	margin-right: 15px;
}
#leftcolumn A.Text { color: #1F2E38; text-decoration: none; }
#leftcolumn A.Text:hover { text-decoration: none; }