BODY
{
	background: url(../Images/Bg.jpg);
	font: 12px Arial, Tahoma, Helvetica, sans-serif;
	line-height: 21px;
	color: #12211a;
	margin: 0;
	padding: 0;
}
IMG
{
	border: none;
}
A
{
	text-decoration: none;
}
H1
{
		font-size: 18px;
		font-weight: normal;
		color: #2d5141;
		margin: 0;
		padding-bottom: 14px;
}
H2
{
		font-size: 16px;
		font-weight: normal;
		color: #2d5141;
		margin: 0;
		padding: 0;
}
#leftcolumn H2
{
	font: 16px Tahoma, Arial, Helvetica, sans-serif;
	color: #254336;
	padding-bottom: 18px;
}
#leftcolumn H3
{
	font: bold 11px Tahoma, Arial, Helvetica, sans-serif;
	color: #254336;
	padding-bottom: 5px;
	margin: 0;
}
P
{
	line-height: 21px;
	padding: 0 0 10px 0;
	margin: 0;
}
#leftcolumn P
{
	font: 11px Tahoma, Arial, Helvetica, sans-serif;
	color: #254336;
	line-height: 16px;
	padding: 0;
	margin: 0;
}


/* Layout ***************************************************************************/


#main
{
	width: 890px;
	margin: 0 auto;
}

#header
{
	width: 860px;
	padding: 10px 15px;
}
#logo
{
	width: 231px;
	height: 96px;
}
#container
{
	width: 886px;
	border-left: solid 4px #ffffff;
	background: #b9d0c1;
	overflow: auto;
}
#leftcolumn
{
	float: left;
	width: 304px;
}
#menu
{
	float: left;
	width: 264px;
	height: 278px;
	padding: 25px 20px;
	background: url(../Images/MenuBg.jpg);
	text-align: right;
}
#menu ul
{
	margin: 0;
	padding: 0;
}
#menu li
{
	padding-bottom: 10px;
	list-style-type: none;
}
#menu a
{
	font: 18px Tahoma, Arial, Helvetica, sans-serif;
	color: #ffffff;
}
#menu a:hover
{
	font: 18px Tahoma, Arial, Helvetica, sans-serif;
	color: #e67232;
}
#leftcontent
{
	float: left;
	width: 270px;
	padding: 20px 17px;
}
#rightcolumn
{
	float: left;
	width: 582px;
	background: #ffffff;
}
#mainimage
{
	width: 582px;
	height: 328px;
}
#rightcontent
{
	width: 542px;
	padding: 20px;
	background: #ffffff url(../Images/ContentBg.jpg) no-repeat;
	min-height: 588px;
}
#footer
{
	float: left;
	width: 886px;
	background: url(../Images/MenuBg.jpg);
	overflow: auto;
}
#footerleft
{
	float: left;
	padding: 35px 17px;
	color: #ffffff;
}
#footerright
{
	float: right;
	padding: 8px 20px;
}
#logofooter
{
	width: 160px;
	height: 68px;
}


/* Elements ***************************************************************************/


.Box
{
	width: 542px;
}
.Box .BoxTop
{
	background: url(../Images/BoxTop.png) no-repeat;
	height: 27px;
	padding: 13px 13px 0 13px;
	
}
.Box .BoxMiddle
{
	border-left: solid 1px #2f513e;
	border-right: solid 1px #2f513e;
	background: #ffffff;
	padding: 13px;
}
.Box .BoxBottom
{
	background: url(../Images/BoxBottom.png) no-repeat;
	height: 7px;
}
.Box .Date
{
	float: right;
	background: url(../Images/CalendarIcon.png) no-repeat;
	padding: 5px 0 0 24px;
	height: 21px;
	font: 11px Verdana, Arial, Tahoma, Helvetica, sans-serif;
}
